*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: sans-serif;
    font-size: 40px;
    width:100%;
    min-height: 100vh;
    height: 100%;
	display: flex;
	flex-direction: column;
}

[class^="tab-"] {
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 1s;
	align-items: center;
	background-color: rgb(212, 203, 203);
	display:grid;
	place-items: center;
}

.bases{
    display: flex;
    gap: 10px;
	flex-direction: column;
	
}

.top-conteiner{
    display: flex;

    gap: 30px;
    grid-template-columns: auto;
    background-color: coral;
    justify-content: center;
	min-height: 60px;
    
}
.top-block{
	display: flex;
	min-height: 20%;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    gap: 30px;
	align-items: center;
}

.bottom-conteiner{
    display: flex;
    
   width: 98%;
    background-color:#444;
    grid-template-rows: auto 1fr auto;
	position: absolute;
	left: 0;
	bottom: 20;	
	
}

[class^="bottom-"] {
    display: flex;

color: rgb(255, 255, 255);
min-height: 15%;
align-items: center;
box-sizing: border-box;
padding: 0 25px; 
justify-content: flex-end;

border-color: #fff;
border-width: 3px;
margin: 0 15px 15px 0;	
border: 1px solid #fff;	
height: 40px;
line-height: 46px;
font-size: 16px;
font-weight: 600;

}